$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

 .navbar-brand
          {
            width: 100px;
            height: 45px;    
            vertical-align: middle;
            color: #dcad76;
            font-size: 20px;
            margin-top: -4px;
            padding: 0 15px;
            flex-basis: 12%;
            flex-grow: 1;
            justify-content: flex-start;
            padding-top: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
          }

.navbar 
    {
      background-color: #000000;
      height: 77px;
      position: relative;
      z-index: 300;
      align-items: center;
      box-sizing: border-box;

      .navbar-collapse
      {
        height: 100%;
        justify-content: space-around;
      }
        .navbar-nav
        {
          align-items: center;

          .nav-item.active
          {
            .nav-link
            {
              color: #dcad76;
            }
          }

          .nav-link
            {
              color: #ffffff;
              font-size: 14px;
              font-family: Arial;
              font-weight: bold;
              padding: 14px 15px;
              font-weight: 600;
              letter-spacing: 1px;
              text-transform: uppercase;
              line-height: 17px;
              
              &:hover
              {
                color: #999;
              }
            }
        }
    
      }

        